{{yield}}

<li>
  {{#link-to 'rental' rental-in-component.id}} {{rental-in-component.owner}}'s {{rental-in-component.type}} in {{rental-in-component.city}} {{/link-to}} <!-- links to 'rental' route with the specific ID -->
  {{#if isImageShowing}}
    <p>
      <img src={{rental-in-component.image}} alt={{rental-in-component.type}} {{action 'imageToggle'}}>
    </p>
  {{else}}
    <button {{action 'imageToggle'}}>Toggle</button>
  {{/if}}
</li>
